//home-a section

#home {
   //home-a section
    &-a{
        .specials{
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas{
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }
    //home-b section
    &-b {

        .stats{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            li{
                line-height: 2;

                &.stats-title{
                    font-size: 1.5rem;
                }
                &.stats-number{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background-color: $light-color;
                }
                &:nth-child(even) {
                    background-color: $medium-color;
                }
            }
        }
    }

    //home section C
    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            text-align: center;


            &-step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 20px;
                background: $main-color;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s ;
            }
            &-icon {
                border-radius: 50%;
                background: $dark-color;
                color: #fff;
                padding: 2rem;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                position: relative;
                transition: all 1s;

                &:hover{
                    background: $main-color;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;

                    .process-step {
                        background: $dark-color;
                    }
                }
            }
        }
    }
}

///footer
#main-footer {
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content{
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;


        .social .fab {
             
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;

            &:hover{
                background: $main-color;
            }
        }
    }
    
}


